.inner-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0;
}
#menu ul{
    display: flex;
    flex-direction: row;
    gap: 45px;
}
#menu a{
    text-decoration: none;
    text-transform: uppercase;
}
.menu-toggle {
    display: none;
}
.menu-item-23:hover{
    cursor: pointer;

}




@media screen and (max-width: 768px) {

    #menu{
        left: 0;
        z-index: 9;
        position: absolute;
        display: none;
    }
    #menu.open {
        display: block;
    }
    #menu.close{
        display: none;
    }

    #menu ul{
        height: calc(100vh - 80px);
        margin-top: 80px;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        background-color: var(--rouge);
        color: white;
        gap: 3rem;
        justify-content: center;
    }

    header{
        position: sticky;
        width: 100%;
        width: 100%;
        z-index: 9;
        background-color: white;
        top: 0;
        height: 80px;
    }
    .inner-header{
        padding: 0;
    }
    .custom-logo-link{
        z-index: 10;
        padding: 30px 5%;
    }
    .menu-toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 10;
      }
      #menu.open{
        display: block;
      }
      
}